$max: 5;
$offset: 0.5;
$unit: "rem";
@mixin looper($className, $styleName) {
    $i: 0;
    @while $i<=$max {
        #{$className + $i*10} {
            #{$styleName}: #{$i + $unit};
        }
        $i: $i + $offset;
    }
}

@mixin fw($classname, $styleName) {
    @for $i from 1 to 10 {
        #{$classname + $i*100} {
            #{$styleName}: #{$i * 100};
        }
    }
}

//PADDING
@include fw(".fw", "font-weight");
@include looper(".p-l-", "padding-left");
@include looper(".p-r-", "padding-right");
@include looper(".p-t-", "padding-top");
@include looper(".p-b-", "padding-bottom");
@include looper(".p-", "padding");
//MARGIN
@include looper(".m-l-", "margin-left");
@include looper(".m-r-", "margin-right");
@include looper(".m-t-", "margin-top");
@include looper(".m-b-", "margin-bottom");
@include looper(".m-", "margin");
//--END-- CREATING PADDING AND MARGIN



//BASIC COLORS
$primaryColor: #353434;
$secondaryColor: #f2f2f2;
$actionColor: #e49162;

.pcolor {
    color: $primaryColor;
}
.scolor {
    color: $secondaryColor;
}
.acolor {
    color: $actionColor;
}

//--END--BASIC COLORS

//BASIC ALIGNMENT
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
//--END-- BASIC ALIGNMENT
//--END--- LOGO

@keyframes animatelogo {
    0% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flexwrap1{
    flex-wrap: wrap;
}
.flexwrap0{
    flex-wrap: nowrap;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-stretch {
    justify-content: stretch;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-content-start {
    align-content: start;
}

.align-content-end {
    align-content: end;
}

.align-content-center {
    align-content: center;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-self-start {
    align-self: start;
}

.align-self-end {
    align-self: end;
}

.align-self-center {
    align-self: center;
}

.align-self-stretch {
    align-self: stretch;
}



.ls1 {
    letter-spacing: 1px;
}
.ls2 {
    letter-spacing: 2px;
}
.ls3 {
    letter-spacing: 3px;
}
.ls4 {
    letter-spacing: 4px;
}
.ls5 {
    letter-spacing: 5px;
}

.lsm1 {
    letter-spacing: -1px;
}
.lsm2 {
    letter-spacing: -2px;
}
.lsm3 {
    letter-spacing: -3px;
}
.lsm4 {
    letter-spacing: -4px;
}
.lsm5 {
    letter-spacing: -5px;
}

.ws1 {
word-spacing: 1px;
}
.ws2 {
    word-spacing: 2px;
}
.ws3 {
    word-spacing: 3px;
}
.ws4 {
    word-spacing: 4px;
}
.ws5 {
    word-spacing: 5px;
}

.wsm1 {
    word-spacing: -1px;
}
.wsm2 {
    word-spacing: -2px;
}
.wsm3 {
    word-spacing: -3px;
}
.wsm4 {
    word-spacing: -4px;
}
.wsm5 {
    word-spacing: -5px;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

a{
    text-decoration: none;
    color:#fff;
}

h1 {
    font-size: 1.9rem;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}
